
@{
    ViewBag.Title = "SendMessage";
}

<h2>SendMessage</h2>

<form action="/OAuth/SendMessage" method="post">
    <input type="text" name="message" value="" />
    <input type="submit" name="" value="送出" />
</form>